.water-access-page {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* WaterAccessView component will fill the container */
.water-access-page > * {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
