.water-access-page {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.water-access-iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
