.water-access-page {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

/* WaterAccessView component will fill the container */
.water-access-page > * {
  width: 100%;
  height: 100%;
}
